---
import Layout from '../layouts/Layout.astro';
import dayjs from 'dayjs';

const educationResponse = await fetch("https://drupal.ampere.corrupted.pw/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
      query GetCourses {
        courses(limit: 100) {
          items {
            title
            certificateLink {
              uri
              title
            }
            date
            educator
            year
            relatedExperienceName
          }
        }
      }
      `
    }),
  });

const educationJson = await educationResponse.json();
const educationContent = educationJson.data;

const items = educationContent.courses.items;

// https://stackoverflow.com/a/46431916/2124978
const groupBy = (items, key) => items.reduce(
  (result, item) => ({
    ...result,
    [item[key]]: [
      ...(result[item[key]] || []),
      item,
    ],
  }),
  {},
);

const groupedItems = groupBy(items, "year");
---

<Layout title={`Education`} metaDescription={`Things I've been studying recently revolve mostly around accessibility.`}
  currentUrl="/education"
>
  <div class="max-w-[1564px] mx-auto md:px-8-px">
    <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
      <h1 id="skip-target" class="block px-4-px font-bold mt-8 lg:mt-12 mb-4 lg:mb-8 text-4xl md:text-6xl text-lt-gray dark:text-white">Education</h1>
      <div class="mx-4-px lead-content text-xl mb-6 lg:mb-12 text-lt-gray dark:text-white">
        I'm a Bachelor of Engineering, with a degree in Information Technology / Digital Media. I went to a high school that specializes in articulacy. There I studied a lot of audio and video production.
      </div>
    </div>
  </div>

  <div class="text-lt-gray dark:text-dk-gray pb-2 px-4-px max-w-xl mx-auto md:pb-6 md:px-8-px lg:max-w-4xl">
    <section class="max-w-7xl mx-4-px mb-8 md:mb-12 xl:mt-0 xl:mx-auto" slot="extra" aria-label="Education list">
      {Object.keys(groupedItems).reverse().map((item) => {
        return(
          <div class="my-4">
            <h2 class="text-2xl	lg:text-3xl	inline-block my-0 px-2 lg:px-8 lg:my-4 border-b-4 gradient-border-light text-lt-gray dark:text-white dark:gradient-border-dark">{item}</h2>
            {groupedItems[item].map((node) => {
              return (
                <div class="text-lt-gray dark:text-white p-4-px lg:py-4 lg:px-12-px">
                  <h3 class="mb-4 text-lg">
                      {node.title}
                  </h3>
                  <div>
                    <span class="block text-base my-1 mx-5">{dayjs(node.date).format(`YYYY/MM`)}</span>
                    <span class="block text-base my-1 mx-5">Educator: {node.educator}</span>

                    {node.relatedExperienceName ? <span>Related to work experience: {node.relatedExperienceName}</span> : ''}
                    {node.certificateLink.uri ? <a href={node.certificateLink.uri}>{node.cerfificateLink.title}</a> : ''}
                  </div>
                </div>
              );
            })}
          </div>
        );
      })}
    </section>
  </div>
</Layout>