---
import { Image } from 'astro:assets';
import dayjs from 'dayjs';
import type BlogData from '../interfaces/blogHighlight';
---

{Astro.props.data.articles.items.map((node: BlogData, index: number) => {
  return (
  <li class="grid items-stretch p-2 border-solid border-4 gradient-border-light bg-lt-blue-light text-lt-gray
    dark:gradient-border-dark dark:bg-dk-purple dark:text-white
    ">
      <a href={`/${node.category.toLowerCase()}${node.slug}`} class="post-link border-2 border-transparent focus:outline focus:outline-4 focus:outline-offset-15	focus:outline-black dark:focus:outline-white hover:border-lt-purple dark:hover:border-dk-blue-light">
        <Image
          src={node.listingImage}
          alt=""
          width={690}
          height={404}
        />
        <div class="self-center text-center font-light">
          <span id={`blog-title${index}`} class="post-title block text-lg font-semibold md:text-2xl py-4 px-2
          after:bg-black after:h-0.5 after:block after:w-10 after:mt-4 after:mb-0 after:mx-auto after:content-['']
          dark:after:bg-white">
            {node.title}
          </span>
          <span class="sr-only">on</span>
          <span class="block text-base md:text-xl pb-4">
            {dayjs(node.date)
              .format(`MMMM DD, YYYY`)}{' '}
            <span aria-hidden="true">|</span> <span class="sr-only">in category</span> {node.category}
          </span>
        </div>
      </a>
    </li>
  );
})}